In [0]:
import pandas as pd
import pymssql
import pymysql

In [0]:
jdbcHostname = "54.245.193.229" #"54.245.193.229" 
jdbcDatabase = "DEV" #"KAGGLE" 
jdbcPort = "1433" #1433 
jdbcUsername = "sa"
jdbcPassword = "WindowsSQL-123"

host = "db4free.net"
db = "exocube"
uname = "sample_jenish"
pas = "Jenu7492@patel"

In [0]:
Source_Table_Name = "EMP_INFO"
Date_Format = "yyyy-MM-dd"
My_Date_Format = "%Y-%m-%d"

In [0]:
def get_connection(jdbcHostname, jdbcUsername, jdbcPassword, jdbcDatabase):
    try:
        sql_connection = pymssql.connect(host=jdbcHostname,user=jdbcUsername,password=jdbcPassword,database=jdbcDatabase, as_dict=True, autocommit=True)
#This exception is raised for things that are not in control of the programmer. For e.g unexpected disconnect, error in memory allocation etc, selected database not exists.
    except pymssql.OperationalError as e:
        print("connection failed")
    except:
        print("Unknown error occurred")
    else:
        return sql_connection

In [0]:
def get_myconnection(host, uname, pas, db):
    try:
        sql_myconnection = pymysql.connect(host=host,user=uname,passwd=pas,db=db, cursorclass=pymysql.cursors.DictCursor, autocommit=True)
#This exception is raised for things that are not in control of the programmer. For e.g unexpected disconnect, error in memory allocation etc, selected database not exists.
    except pymysql.OperationalError as e:
        if e.args[0] == 2003:
            print('server not found')
        elif e.args[0] == 1044:
            print('database not found')
        elif e.args[0] == 1045:
            print('username or password incorrect')
    except:
        print("Unknown error occurred")   
    else:
        return sql_myconnection

In [0]:
def display_mssql_data(sql_disqry, sql_conn):
    try:
        cursor = sql_conn.cursor()
        cursor.execute(sql_disqry)
        count = cursor.rowcount
        if count:
            sql_data = pd.DataFrame(cursor.fetchall())
            result = sql_data.head(n=None)
            spark_df = spark.createDataFrame(result)
            df = spark_df.toPandas()
            return df
        else:
            print("No Record")
    except pymssql.ProgrammingError as e:
        if e.args[0] == 208:
            print('table doesnt exist')
        elif e.args[0] == 102:
            print('sql query syntax error')  
    finally:
        sql_conn.close()

In [0]:
def display_target_data(sql_tar_disqry):
    try:
            pdf = spark.sql(sql_tar_disqry)
            pd_df = pdf.toPandas()
            return pd_df
    except pymssql.ProgrammingError as e:
        if e.args[0] == 208:
            print('table doesnt exist')
        elif e.args[0] == 102:
            print('sql query syntax error')

In [0]:
sql_conn = get_connection(jdbcHostname, jdbcUsername, jdbcPassword, jdbcDatabase)

In [0]:
sql_disqry ="(SELECT Emp_Id, lower(CONVERT(VARCHAR(256), HASHBYTES('Sha2_256', cast(CONCAT(Emp_Id, Emp_name, Designation, Department, City, Salary,format(Joining_Date, '{}'))as varchar(256))),2)) as Hash_Key FROM {})".format(Date_Format,Source_Table_Name)
display_mssql_data(sql_disqry, sql_conn)

,Emp_Id,Hash_Key
0,4,6c483a936867fc5fdc809c1973213e11823a0ddc2dd83c...
1,6,1acfb335ecb77f252066547677511de65bbd40d65c6b08...
2,7,02fc2938f36d8200b5e36ff91a536acb91bdd1baff6e7c...
3,8,a3b0438876cc2c083b7966ad55466378cb2a64ab0eb42e...
4,9,2e7bc2488b466cbd949da09d82dc5b97a47dc22529700d...
5,11,acd285009a40758656474a4c0745ce8c979a5a54015cb4...
6,12,11b388a0b776c417533003915ccfb30a297799f285c570...
7,13,443404668b240598417f39f57dbfabbbff3b8fdec755d7...
8,14,e12bb4284556efd35787e27025418cb82e03cd90f4ee97...
9,15,93317b605152799343a69d6001996d7cb88bf3728dd082...
10,17,0acde3b8c8936126601021622f0ccf52b2f3a962e5e02d...
11,18,ff6152e74eddbc79f1b7298978301e243215d343c1815c...
12,19,418eadd51ea38136969a8195ab37c2af8a4766ef396e9c...
13,20,90345aee6392c0018c28910e32fd2b2692b24e7637a4eb...
14,21,390211bcf74954d904660da69c2720343fd632eee78dfd...

In [0]:
sql_tar_disqry = "(select Emp_Id, sha2(CONCAT(Emp_Id, Emp_name, Designation, Department, City, Salary, date_format(Joining_Date, '{}')),256)as Hash_Key FROM {})".format(Date_Format,Source_Table_Name)
display_target_data(sql_tar_disqry)

,Emp_Id,Hash_Key
0,4,6c483a936867fc5fdc809c1973213e11823a0ddc2dd83c...
1,6,1acfb335ecb77f252066547677511de65bbd40d65c6b08...
2,7,02fc2938f36d8200b5e36ff91a536acb91bdd1baff6e7c...
3,8,a3b0438876cc2c083b7966ad55466378cb2a64ab0eb42e...
4,9,2e7bc2488b466cbd949da09d82dc5b97a47dc22529700d...
5,11,acd285009a40758656474a4c0745ce8c979a5a54015cb4...
6,12,11b388a0b776c417533003915ccfb30a297799f285c570...
7,13,443404668b240598417f39f57dbfabbbff3b8fdec755d7...
8,14,e12bb4284556efd35787e27025418cb82e03cd90f4ee97...
9,15,93317b605152799343a69d6001996d7cb88bf3728dd082...
10,17,0acde3b8c8936126601021622f0ccf52b2f3a962e5e02d...
11,18,ff6152e74eddbc79f1b7298978301e243215d343c1815c...
12,19,418eadd51ea38136969a8195ab37c2af8a4766ef396e9c...
13,20,90345aee6392c0018c28910e32fd2b2692b24e7637a4eb...
14,21,390211bcf74954d904660da69c2720343fd632eee78dfd...

In [0]:
sql_conn = get_connection(jdbcHostname, jdbcUsername, jdbcPassword, jdbcDatabase)
df = display_mssql_data(sql_disqry, sql_conn)
df2 = display_target_data(sql_tar_disqry)
res = df.compare(df2)
if res.empty:
    print('Match all hash keys')
else:
    res.insert(0, df.columns[0], df[df.columns[0]])
    rs = res['Emp_Id'].to_list()
    ids = str(rs)[1:-1]
    res_qry ="(SELECT * FROM {} where {} in({}))".format(Source_Table_Name,df.columns[0],ids)
    sql_conn = get_connection(jdbcHostname, jdbcUsername, jdbcPassword, jdbcDatabase)    
    dff = display_mssql_diff_data(res_qry, sql_conn)
    dff2 = display_target_diff_data(res_qry)
    clres = dff.compare(dff2)
    display(clres)

Match all hash keys

In [0]:
def display_target_diff_data(res_qry):
    try:
            pdf = spark.sql(res_qry)
            pd_df = pdf.toPandas()
            return pd_df
    except pymssql.ProgrammingError as e:
        if e.args[0] == 208:
            print('table doesnt exist')
        elif e.args[0] == 102:
            print('sql query syntax error')

In [0]:
def display_mssql_diff_data(res_qry, sql_conn):
    try:
        cursor = sql_conn.cursor()
        cursor.execute(res_qry)
        count = cursor.rowcount
        if count:
            sql_data = pd.DataFrame(cursor.fetchall())
            result = sql_data.head(n=None)
            spark_df = spark.createDataFrame(sql_data)
            df = spark_df.toPandas()
            return df
        else:
            print("No Record")
    except pymssql.ProgrammingError as e:
        if e.args[0] == 208:
            print('table doesnt exist')
        elif e.args[0] == 102:
            print('sql query syntax error')  
    finally:
        sql_conn.close()

In [0]:
def display_mysql_data(sql_my_disqry, sql_conn):
    try:
        cursor = sql_conn.cursor()
        sql_exec = cursor.execute(sql_my_disqry)
        if sql_exec:
            sql_data = pd.DataFrame(cursor.fetchall())
            result = sql_data.head(n=None)
            spark_df = spark.createDataFrame(result)
            df = spark_df.toPandas()
            return df
        else:
            print(sql_exec)
            print("No Record")
    except pymysql.ProgrammingError as e:
        if e.args[0] == 1146:
            print('table doesnt exist')
        elif e.args[0] == 1064:
            print('sql query syntax error')  
    finally:
        sql_conn.close()

In [0]:
sql_conn = get_myconnection(host, uname, pas, db)

server not found

In [0]:
sql_my_disqry ="(select Emp_Id, sha2(CONCAT(Emp_Id, Emp_name, Designation, Department, City, Salary, DATE_FORMAT(Joining_Date, '{}')),256)as Hash_Key FROM {})".format(My_Date_Format,Source_Table_Name)
display_mysql_data(sql_my_disqry, sql_conn)

---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
<command-2886565415092267> in <module>
----> 1 sql_my_disqry ="(select Emp_Id, sha2(CONCAT(Emp_Id, Emp_name, Designation, Department, City, Salary, DATE_FORMAT(Joining_Date, '{}')),256)as Hash_Key FROM {})".format(My_Date_Format,Source_Table_Name)
      2 display_mysql_data(sql_my_disqry, sql_conn)

NameError: name 'My_Date_Format' is not defined

In [0]:
sql_conn = get_myconnection(host, uname, pas, db)
df = display_mysql_data(sql_my_disqry, sql_conn)
df2 = display_target_data(sql_tar_disqry)
res = df.compare(df2)
if res.empty:
    print('Match all hash keys')
else:
    res.insert(0, df.columns[0], df[df.columns[0]])
    rs = res['Emp_Id'].to_list()
    ids = str(rs)[1:-1]
    res_qry ="(SELECT * FROM {} where {} in({}))".format(Source_Table_Name,df.columns[0],ids)
    sql_conn = get_myconnection(host, uname, pas, db)
    dff = display_mssql_diff_data(res_qry, sql_conn)
    dff2 = display_target_diff_data(res_qry)
    clres = dff.compare(dff2)
    display(clres)

"('Department', 'self')","('Department', 'other')","('City', 'self')","('City', 'other')"
IT,HR,null,null
null,null,Surat,Pune